.app-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* Sidebar */
.app-layout > .sidebar {
  width: 260px; /* largura normal */
  transition: width 0.3s;
}

.app-layout > .sidebar.collapsed {
  width: 80px; /* largura colapsada */
}

/* Chat ocupa o espaço restante */
.chat-window-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* RightSidebar fixo */
.app-layout > .right-sidebar {
  width: 300px;
  display: flex;
  flex-direction: column;
}
